@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,800,900,900i);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

a {
  color: #353b48 !important;
}

a:hover {
  text-decoration: none !important;
}

.width-full {
  width: 100%;
}

.centerized-item {
  display: flex;
  justify-content: center;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-label {
  font-family: Roboto;
  font-weight: 800;
}
.card-header {
  background-color: rgb(231, 73, 69) !important;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: rgb(231, 73, 69) !important;
  border-color: rgb(231, 73, 69) !important;
}

.badge-primary {
  background-color: rgb(231, 73, 69) !important;
}

.white {
  color: #fff !important;
  font-family: Roboto;
}

.bold {
  font-weight: 900;
}

.thin {
  font-weight: 300;
}

.universal-container {
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-container {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: #c8d6e5 solid 0.2px;
}

.logo-wrapper {
  display: flex;
  justify-content: left;
}

.icons-wrapper {
  display: flex;
  justify-content: right;
}

.icon-circle-wrapper {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  
  width: 40px;
  height: 40px;
  background-color: #c8d6e5;
  border-radius: 100px;
}

.logo {
  height: 4vmin;
  pointer-events: none;
}

.pokedex-title {
  font-family: Roboto;
  color: #353b48;
}

.pokemon-card {
  cursor: pointer;
  height: 350px;
  padding: 20px;
  background-color: #ff7979;
  transition: all 0.5s;
}

.pokemon-card:hover {
  background-color: #4cabf8;
}

.pokemon-card:nth-child(even)  {
  background-color: #f9ca24;
  transition: all 0.5s;
}

.pokemon-card:nth-child(even):hover  {
  background-color: #4cabf8;
}

.pokemon-card-footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.pokemon-card-footer .pokemon-type {
  text-align: left;
}

.pokemon-card-footer .pokemon-sign {
  text-align: right;
}

.pokemon-card-footer .pokemon-sign div{
  display: flex;
  align-items: baseline;
  text-align: right;
  float: right;
}

.mini-rect {
  width: 10px !important;
  height: 10px;
  background-color: #fff;
}

.pokemon-image {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
}

.radio-pokemon-type {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: #c8d6e5 solid 0.5px;
  border-radius: 5px;
  padding: 10px 30px;
}

.abilities-list {
  display: flex;
  flex-direction: row;
}

.radio-pokemon-type:hover {
  border-color: #ff7979;
}

.pd-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: #c3c3c3 solid 0.5px;
}

.pd-other-detail {
  display: block;
  border: #c3c3c3 solid 0.5px;
  padding: 5px 10px 0px;
  border-radius: 10px;
}

.pd-other-detail p {
  font-size: 14px;
}

.pd-other-detail h6 span {
  font-size: 12px;
}